.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

button {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c98f39;
}

button:active {
    background-color: #3e8e41;
}

button:focus {
    outline: none;
}

button.operator {
    background-color: #f44336;
}

button.operator:hover {
    background-color: #d32f2f;
}

button.operator:active {
    background-color: #b71c1c;
}